.header_container{
 
    background-color:#003580;
    justify-content: center;

    color: #fff;
    width: 100%;
    align-items: center;

    .Container{
        position: relative;
        border: 1px solid ;
        margin: 0 162px;

        @media screen and (max-width: 768px){
            margin: 50px;
        }
    }


    .header_main_container{
        // max-width: 1124px;
        color: #fff;
        display: flex;
        align-items: center;
        padding: 16px;
        width: 100%;
        justify-content: space-between;

        .headerRightSide{
            display: flex;
            align-items: center;
      
            & :nth-child(odd){
                margin: 0 20px;
               
            }
            & :nth-child(3){
        
               background-color: transparent;
               color: #fff;
               border: 1px solid #fff;
            }

            button{
                padding:  10px;
                cursor: pointer;
                background-color: #fff;
                color: #003580;
                font-size: 1rem;
                font-weight: normal;
                border:none;
                border-radius: 2px;
               
           
            }
        }
    }
}

.lowerHeader_container{

    padding: 20px 0;


    li{
        list-style: none;
        cursor: pointer;
        display: flex;
        align-items: center;
      
        padding: 10px 20px;
        // border: 1px solid;
        color: #fff;
       
        

        &:hover{
            background-color:#1a4a8d;
            border-radius: 50px;


        }
    }
}

.header_description_page{
    padding: 40px 0;

    p{
        margin-bottom: 40px;
    }


    .buttonsregister{
        background-color:  #0071c2;
        color: #fff;
       padding: 9px;
       font-size: 1rem;
       font-weight: 400;
       letter-spacing: 0px;
       margin-bottom: 40px;
       
    }

}

