
.lowerMainContainer{
    width: 100%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.lowerHeader_container{
    display: flex;
    // align-items: center;
    
   
    max-width: 1024px;

}